{% extends "reviews/reviews_inicio.html" %}
{% block title %}CINEMA - Reviews{% endblock %}
  </head>
  <body>
{% block content %}



  {% if object_list %}
  <table class="table">
    <thead>
      <tr>
        
        <th scope="col">Pelicula</th>
        <th scope="col">Director</th>
        <th scope="col">Año Estreno</th>
        <th scope="col">Autor</th>
        <th scope="col">

        </th>
      </tr>
    </thead>
      {% for review in object_list %}
        
      <tbody>
        <tr>
          
          <td><a href="{% url 'review_detail' review.id %}">{{review.titulo}}</a></td>
          <td><a>{{review.director}}</a></td>
          <td><a>{{review.estreno}}</a></td>
          <td><a>{{review.autor}}</a></td>
          {% if user.is_authenticated %}
          <td><a href="{% url 'review_delete' review.id %}">Borrar</a></td>
          <td><a href="{% url 'review_update' review.id %}">Editar</a></td>
          {% endif %}
        </tr>
        
      </tbody>
      
      {% endfor %}
    </table>
  {% else %}
    <h1> Aún no hay reviews</h1>
  {% endif %}
</nav>
{% endblock %}