<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>{% block title %}CINEMA - Inicio{% endblock %}</title>
  </head>
  <body>

    

    <nav class="navbar navbar-expand-lg bg-light" >
        <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'inicio' %}">
             <h1> C  I  N  E  M  A </h1>
            </a>
          
          <div class="d-grid gap-2 d-md-flex justify-content-md-end" id="navbarSupportedContent">
            
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
              <li class="nav-item">
                <a class="btn btn-outline-success btn-sm" aria-current="page" href="{% url 'buscar' %}">Buscar Film</a>
              </li>
              <li class="nav-item">
                
                <a class="btn btn-outline-primary btn-sm" href="{% url 'reviews_list' %}">Todas las Reviews</a>
                </p>
              </li>
              <li class="nav-item">
                
                <a class="btn btn-outline-primary btn-sm" href="{% url 'about_us' %}">About us</a>
                </p>
              </li>
    
            
          </div>
        </div>
      </nav>
      
      {% if user.is_authenticated %}
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <a href="{% url 'user_logout' %}">
    <button type="button" class="btn btn-primary btn-sm">
      Salir de mi cuenta
    </button></a>
    
    <a href="{% url 'review_create' %}">
    <button type="button" class="btn btn-primary btn-sm">
      Nueva Rewiew
    </button></a>
  <a href="{% url 'user_profile' user.id %}">
    <button type="button" class="btn btn-primary btn-sm">
      Perfil {{user.username}}
    </button></a>
  </div>
  <br>
  {% else %}
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <a href="{% url 'user_login' %}">
    <button type="button" class="btn btn-primary btn-sm">
    Entrar a mi cuenta
  </button></a>
  <a href="{% url 'user_signup' %}">
    <button type="button" class="btn btn-primary btn-sm">
      Crear Cuenta
    </button></a></div>
  {% endif %}
  {% block content %}
      <br>
      <br>
      <br>

    
        <table class="table table-success table-striped" >
      
          <div class="d-grid gap-2">
          <a href="{% url 'reviews_list' %}">
             <class="display-6"><h3><p class="text-center" >Todas las reviews.</p> </h3>
              
            
          <a href="{% url 'about_us' %}"> 
            <class="display-6"><h3><p class="text-center" >About us.</p></h3> 
            
          </div>
        </table>
        
    {% endblock %}

    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    
    
  </body>
  <ul class="nav bg-light fixed-bottom justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'about_us' %}"><h6> House - Python 36585 - ENTREGA FINAL | MENDEZ-SANABRIA-LUNDBERG</h6></a>
    </li>
  </ul>


</html>