{% extends "reviews/reviews_inicio.html" %}
{% block title %}CINEMA - Perfil{% endblock %}
  </head>
  <body>
{% block content %}


<a href="{% url 'profile_edit' user.id %}">Editar Perfil</a>

<ul>
    <li>Nombre: {{object.first_name}}<li>
    <li>Apellido: {{object.last_name}}<li>
    <li>Correo electronico: {{object.email}} </li>
    <li>Nombre de Usuario: {{object.username}}</li>
</ul>
<img height="128" src="{{ object.avatar_set.first.image.url }}" />
<!-- <img height="128" src="{{ object.avatar_set.first.image.url }}" /> -->

{% endblock %}